.sidebar {
  position: absolute;
  right: 0;
  top: 30px;
  width: 22vw;
  /* height:114vh; */
  height :min-content;
  /* background-color: #d1d1e0; */
  overflow-x: hidden;
  padding-top: 10px;
  transition: 0.5s;
  align-content: flex-end;
  z-index: 1;
  text-align: right;
  border-radius: 2vh;
  
}
.gray {
    background-color: #d1d1e0;
    transition: 0.5s;
    border-radius: 2vh; 
    height: 113vh;
}
.sidebar.open {
  width: 10vw;
}

.sidebar a {
  padding: 8px 32px 8px 8px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #0f0f0f;
}

.sidebar img {
  color: #860f86;
  display: block;
  transition: 0.3s;
}
.text-overlay {
  position: relative;
  top: -12%;
  left: 32.5%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  text-align: center;
  background-color: #860f86;
  max-width: 65%;
  direction: center;
  background-color: rgb(139, 30, 143,0.4);
}
#openbtn2 {
  padding: 8px 32px 8px 8px;
  font-size: 5px;
  cursor: pointer;
  padding: 10px;
  width: 30px;
}

.grid-container {
  position: relative;
}

.nezarat{
  font-size: 2vw;
  color: #860f86;
  direction: rtl;
  
}
.details{
  display: flex;
  background-color:#4dbbbb;
  width: calc(100% - 15vw); 
  align-self: flex-start; 
  justify-content: flex-end; 
  margin-left: 15vw;
  border-radius: 0.3vw;
}
.box {
  flex: 1;
  padding: 10px;
  margin: 5px;
  direction: rtl;
  text-align: right; 

}
.logo{
  position: absolute;
  top: 10px;
  left: 10px;
  /* size: 9vh; */
  width: 7vw;
  height:13vh;
}
.buttons{
  display: flex;
  flex-wrap: wrap;
  direction: rtl;
  text-align: right;
  text-decoration: none;
  margin-bottom: 0.5vh;
  align-items: center; 

}
.box2 {
  padding: 12px;
  margin-top: 10px;
  margin-left: 40px;
  margin-bottom: 10px;
  direction: rtl;
  text-align: right; 
  background-color: #860f86;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0.5vw;
  color: #ffffff;

  width: 10vw; 
  height: 2vw;

  display: flex;
  align-items: center;
  justify-content: center;
}
.first_rec {
  /* background-color: #d1d1e0; */
  transition: width 0.5s;
  width : calc(100% - 23vw);
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  direction: rtl;
  height: 5vh;
  justify-content: space-between;  
  margin-bottom: 1vh;
  padding-left: 7vw;
  padding-right: 2vw;
}
.datas{
  display: grid;
  grid-template-rows: 1fr 5fr; 
  background-color: #d1d1e0;
  justify-content: space-between;  
  direction: rtl;
  border-radius: 1vw;
  margin-left: 4vw;
  padding-right: 10vw;
}

.cards{
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr; 
  /* gap: 10px;  */
  background-color: #d1d1e0;
}
.find{
background-color: #860f86;
width:103px ;
margin-top: 3vh;
color: #ffffff;
height: 2vw;
width: 6vw;
flex-wrap: wrap;
}
.grid-item{
  padding-left: 0;

}
.grid-item img {
  max-width: 65%;
  direction: center;
  }

.input-name {
  position: relative;
  /* align-content: rtl;
  direction: center;
  text-align: right;  */
  margin-left: 1vw;
  margin-top: 3vh;
  width: 7vw;
}

.input-name input {
  padding-left: calc(2vw + 10px); 
  width: 15vw;
  height: 1.5vw;
  text-align: right; 
  padding-right: calc(1.3vw + 10px); 
}


.input-name .icon2 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
} 

.calander{
  display: flex;
  flex-wrap: wrap;
  direction: rtl;
justify-content: space-around;  
}
.date{
  flex: 1;
  padding: 12px;
  margin-top: 1vh;
  margin-bottom: 1vh; 
  margin-left: 1vh;
  direction: rtl;
  text-align: right; 
  background-color:#d1d1e0;
  text-decoration: none;
  border-radius: 50%;
  direction: center;

  width: max-content;
  height: max-content;
  text-align: center;
}
.day{
direction: center;
}

.time_container{
  display: flex;
  flex-wrap: wrap;
  direction: rtl;
justify-content: space-between;  
margin-top: 4vh;
}

.inside_time_container{
  flex: 1;
  /* padding: 12px; */
 margin-top: 2.5vh;
  margin-bottom: 1vh; 
  margin-left: 1vh;
  direction: rtl;
  text-align: center;
  text-decoration: none;
  border-radius: 1vw;
}
#time{
  direction: rtl;
  text-align: right; 
  padding-right: 7vw;
  justify-content: space-around;  

}
body {
  font-family: Vazirmatn, sans-serif;
}
.icon{
  color: #860f86;
  padding: 0.5vw;
  cursor: pointer;
}
.icon2{
  color: #4dbbbb;
  padding: 0.5vw;
  cursor: pointer;

}
.icon3{
  color: #42ee0d;
  padding: 0.5vw;
}
.icon4{
  color: #ee2d1f;
  padding: 0.5vw;
}
.bell{
  color: #4dbbbb;
  direction: left;
  font-size: 7vh;
  flex-wrap: wrap;
  position: absolute;
  left: 1vw;
  top: 0.02vh;
}
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}
